.friend__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 175px;
  height: auto;
  margin: 40px;
  background: #ffffff;

  border-radius: 12px;
  box-shadow: 2px 2px 22px #c1c1c1;
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  /* display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center; */
  /* width: 100%; */
  padding: 5px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item:hover {
  background-color: #fbd6bd3f;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 10px #c1c1c1;
}

.item:hover .name {
  color: #000000;
}

.status {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.true {
  background-color: #92fa5c;
}

.false {
  background-color: #f96a6a;
}

.avatar {
  padding: 2px;
  border: 1px solid #c1c1c1;
  width: 50px;
  border-radius: 12px;
  background-color: #ffffff;
  margin-right: 20px;
}

.name {
  text-align: start;
  color: #818181;
}
